GOOGLE_CLIENT_ID=
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_CLIENT_SECRET=

# Facebook OAuth Configuration
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_CLIENT_TOKEN=

# Twitter OAuth Configuration
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

# Nodemailer Email Configuration
EMAIL_USER=
EMAIL_PASS=

# React App Client-Side Environment Variables
REACT_APP_GOOGLE_CLIENT_ID=
REACT_APP_FACEBOOK_APP_ID=
REACT_APP_TWITTER_CLIENT_ID=
